// See: https://sass-lang.com/
//Variable colors to be used globally
@import '_variables';

html {

  scroll-behavior: smooth;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $backgroundColor;
  color: $mainFontColor;

  h1 {
    color: white;
  }

}

main {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  width:95vw;
  justify-content: space-between;
  margin-top: 2rem;
  background-color: $backgroundColor;
}




