@import '_variables';

nav {
  background-image: -webkit-gradient(linear, left top, left bottom, from($lightBlue), to(#0061927f));
  display: flex;
  align-items: center;
  width: 100%;
  color: #FFFFFF;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  img {
    width: 90%;
  }
}

.search input[type=text] {

  padding: 6px;
  border: none;
  border-radius: 10px;
  outline:none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
  color: $lightBackgroundColor;

}

::-webkit-input-placeholder{
  color: #fff;
}
.search i[type=submit] {
  margin-top:5px;

  margin-left: -50px;
  background: transparent;
  color: $electicYellow;
  border: 0;
  -webkit-appearance: none;
  display: flex;
  align-self:center;
  width:auto;
}

div.search {
  display:flex;
  align-self:center;
  justify-content: center;
}

form.login {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

form.login button {
  // width: 150px;
  margin-left: 100px;
  margin-right:100px;
  background-color: transparent;
  color: $electicYellow;
  // height: 2vw;
  font-size: 2vw;
  border-radius: 5px;
  border: none;
  font-family: $mainFont;
  i {
    margin-left: 25px;
  }
}

form.logout button {
 width: auto;
  margin-left:25px;
  margin-right:100px;
  background-color: transparent;
  color: $electicYellow;
  font-size: 2vw;
  border-radius: 5px;
  border: none;
  // white-space: nowrap;
  font-family: $mainFont;
}

input#userIdInput{
  width: 5vw;
  height: 2vw;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: -7.5em;
  box-sizing: border-box;
  border:0;
  color: $lightBackgroundColor;
  text-align: center;
}



// first break point
@media (max-width: 1500px) {
  nav {
    img {
      width: 70%;
    }
    .search {
      input {
        width: 30vw;
        height: 3vw;
      }
      i {
        font-size: 2vw;
      }
    }
    form.login {
      input#userIdInput {
        width: 10vw;
      }
    }
    form.logout {
      input#userIdInput {
        width: 10vw;
      }
    }
  }
}

@media (max-width: 1000px) {
  nav {
    img {
      width: 90%;
    }
    .search {
      input {
        width: 30vw;
        height: 4vw;
      }
      i {
        font-size: 2.4vw;
      }
    }
    form.login {
      button {
        font-size: 3.0vw;
      }
      input#userIdInput {
        width: 15vw;
        height: 3.5vw
      }
    }
    form.logout {
      input#userIdInput {
        width: 15vw;
        height: 3.5vw;
      }
    }
  }
}

@media (max-width: 700px) {
  nav {
    form.login {
      justify-content: flex-end;
      button {
        font-size: 4vw;
      }
      input#userIdInput {
        width: 15vw;
        height: 4vw;
      }
    }
    form.logout {
      input#userIdInput {
        width: 15vw;
        height: 3.5vw;
      }
    }
    img {
      width: 90%;
    }
    .search input[type=text], .search i[type=submit] {
    display: none;
    }
  }
}

@media (max-width: 600px) {

}
